{% extends 'agvoybase.html.twig' %}

{% block main %}
   
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{# {{ path('circuit_new') }} #}">Nouveau Circuit</a></li>
           <li><a href="{# {{ path('circuit_edit') }} #}">Editer le Brouillon</a></li>
                                    {% endif %}
                                    
    <div class="row">
    <div class="col-sm-4">
     <div class="well">
     <h2>Classé par :</h2>
     <ul>
     	<li>Notes</li>
     	<li>Achetés</li>
     	<li>Date de création</li>
     	</ul>
     	<h2>Filtré par</h2>
     	<ul>
     	<li>Pays : </li>
     	<li>Durée</li>
     	<li>Date de départ</li>
     </ul>
     </div>
    </div>   
     <div class="col-sm-8">  
      <h1>Nos circuits</h1>                           
    <table>
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Description</th>
                <th>Paysdepart</th>
                <th>Villedepart</th>
                <th>Villearrivee</th>
                <th>Dureecircuit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td><a href="{{ path('circuit_show', { 'id': circuit.id }) }}">{{ circuit.id }}</a></td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit }} jours</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('circuit_show', { 'id': circuit.id }) }}">Plus de détails >> 	</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
{% endblock %} {# main #}
