{% extends 'agvoybase.html.twig' %}

{% block title %}Comment on {{ circuit.description }}{% endblock %}

{% block body %}
    <h1>Comment on {{ circuit.description }}</h1>
    
    <div class="date">{{ comment.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</div>
    <div class="body">
        {% dump(comment) %}
     			<strong>By {{ comment.authorEmail }}:</strong>
        		<br>
        	    {{ comment.content }}
    </div>
{% endblock %}
