{% extends 'agvoybase.html.twig' %}

{% block main %}
    	
	<div class="circuit">
    	<h2>
       		{{ circuit.description }}
       	</h2>
       	<ul>
       		<li><a href="{{ path('circuit_index') }}">Retour à la liste</a></li>
    	  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        	<li><a href="{{ path('circuit_edit', {'id': circuit.id}) }}">Modifier le circuit</a></li>
          {% endif %}
       </ul>
                                   
    	<h3>Détails</h3>
		<div class="circuit_details">
			<p>Description: {{ circuit.description }}</p>
			<p>Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} j. de voyage à travers le {{ circuit.paysDepart }}, pour terminer à {{ circuit.villeArrivee }}.</p>
			<h3>Étapes</h3>
			 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
			   <a href="{{ path('etapes_new', {'id': circuit.id}) }}">Ajouter une étape</a>
			     {% endif %}
		 	<table>
		 		<thead>
					<tr>
				    	<th>Numéro</th>
						<th>Ville</th>
						<th>Nombre jours</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
 			{% for etape in circuit.etapes %}
	 		<tr>
			   <td>{{ etape.numeroEtape }}</td>
			   <td>{{ etape.villeEtape }}</td> 
			   <td>{{ etape.nombreJours }} jours</td>
			   {% if is_granted('IS_AUTHENTICATED_FULLY') %}
			   <td>
			   <a href="{{ path('etapes_edit', {'id': circuit.id, 'etape_id' : etape.id}) }}">Modifier l'étape</a>
			   </td>
			   <td>
			   <a href="{{ path('etapes_remove', {'id': circuit.id, 'etape_id' : etape.id}) }}">Supprimer l'étape</a>
			   </td>
			     {% endif %}
			</tr>
			{% endfor %} {# circuit.etapes #}
			</tbody>
			</table>
		</div> {# circuit_details #}
		
		<div class="programmations">
		<h3>Programmations de ce circuit</h3>
		 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
			   <a href="{{ path('programmations_new', {'id': circuit.id}) }}">Ajouter une programmation</a>
			     {% endif %}
		<table>
		 		<thead>
					<tr>
				    	<th>Date de départ</th>
						<th>Nombre de personnes</th>
						<th>Prix</th>
						<th></th>
					</tr>
				</thead>
		{%  for programmation in circuit.programmations %}
			<tr>
			   <td>{{ programmation.dateDepart|date('d-m-Y')  }}</td>
			   <td>{{ programmation.nombrePersonnes }}</td> 
			   <td>{{ programmation.prix }}€</td>
			   {% if is_granted('IS_AUTHENTICATED_FULLY') %}
			   <td>
			   <a href="{{ path('programmations_edit', {'id': circuit.id, 'programmation_id' : programmation.id}) }}">Modifier la programmation</a>
			   </td>
			   <td>
			   <a href="{{ path('programmations_remove', {'id': circuit.id, 'programmation_id' : programmation.id}) }}">Supprimer la programmation</a>
			   </td>
			     {% endif %}
			</tr>
		{% endfor %}
		</table>
	</div> {# programmations #}
    <ul>
       <!-- TODO : Problème en début et fin de liste  -->
       <!-- TODO : Ajouter un title contenant la description du circuit sur lequel on se dirige -->
        {% if circuit.id > 1 %}
			     <li><a href="{{ path('circuit_show', { 'id': circuit.id-1 }) }}" title="">Précédent</a></li>
			     {% endif %}
        <li><a href="{{ path('circuit_show', { 'id': circuit.id+1 }) }}" title="">Suivant</a></li>
    </ul>
	</div> {# circuit #}
	 <div class="comments"> {# Commentaires #}
	   <h2>Comments:</h2>
       
     
            {{ form_start(commentform) }}
            {{ form_widget(commentform) }}
            {{ form_end(commentform) }}

        {% for comment in circuit.comments %}
        {% dump(comment) %}
        	<li>
        		<a href="{{ path('circuit_show_comment', {'id': circuit.id, 'comment_id': comment.id}) }}">
        			<strong>By {{ comment.authorEmail }} on {{ comment.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}:</strong>
        		</a>
        		<br>
        	    {{ comment.content }}
        	</li>
        {% endfor %}
        </ul>
        </div>
    
{% endblock %}  {# main #}
