{% extends 'agvoybase.html.twig' %}

{% block title %}Comment on {{ circuit.description }}{% endblock %}

{% block body %}
    <h1>Comment on {{ circuit.description }}</h1>
    	<li><a href="{{ path('circuit_show', {'id': comment.circuit.id }) }}">Retour au circuit</a></li>
    <div class="date">{{ comment.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</div>
    <div class="body">
        {% dump(comment) %}
     			<strong>By {{ comment.authorEmail}}:</strong>
     			<br />
     			Note : {{ comment.note }}
        		<br />
        	    {{ comment.content }}
        	    
        	     {% if is_granted('ROLE_ADMIN') %}
        	     <br />
        		 <a href="{{ path('admin_delete_comment', {'id': circuit.id, 'comment_id' : comment.id}) }}">Supprimer le commentaire</a>
        		 
        		 {% endif %}
    </div>
{% endblock %}
