<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{% block header %}<header><p>HEADER</p></header>{% endblock %}
        
    	<div class="container body-container">
            {% block body %}
                
                    <div id="main">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>
                    
                   
            {% endblock %}
        </div>
    	
        {% block footer %}<footer class="text-center"><p>Copyright 2016 - La meilleure agence</p></footer>{% endblock %}
        {% block javascripts %}
        	<script src="{{ asset('js/jquery.min.js') }}"></script>
        	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
