{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h1 class="text-center">Compte n°{{ account.id }}</h1>
    <ul>
    	<li><a href="{{ path('admin_accounts_index') }}">Revenir à la liste des comptes</a></li>
        <li><a href="{{ path('admin_account_edit', {'id': account.id }) }}">Editer le compte</a></li>
         <li><a href="{{ path('admin_account_remove', {'id': account.id }) }}">Supprimer le compte</a></li>
         </ul>
                                  
                                    
	<div class="row">
	<div class="fos_user_user_show">
    <p>Username : {{ account.username }}</p>
     <p>Prénom : {{ account.prenom }}</p>
    <p>Nom : {{ account.nom }}</p>
    <p>Email : {{ account.email }}</p>
    <p>Adresse : {{ account.adresse }}
</div>
</div>
   
    
{% endblock %} {# main #}
