{% extends 'agvoybase.html.twig' %}

{% block main %}
     <div id="welcome">
  	   <h1 class="text-center">Bienvenue sur le site de La meilleure Agence !</h1>
    </div>                  
	
	
	<div class="row">
		<div class="col-sm-3"> <!-- A propos -->
			<div class="well"><h2>Promotions</h2></div>
			<div class="well"><h2>Nouveautés</h2></div>
		</div>
		<div class="col-sm-6"> <!--  partie centrale -->
		<div class="well" id="search">Recherche</div>
		<div class="well"><h2>Les mieux notés</h2></div>
		 <!--  liste des cricuits -->
		 <div class="well">
		 <h2>Les plus demandés</h2>
		 <table>
        <thead>
            <tr>
               <!--  <th>Numéro</th> -->
                <th>Description</th>
                <th>Pays de départ</th>
                <th>Ville de départ</th>
                <th>Ville d'arrivée</th>
                <th>Durée du circuit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
              <!--    <td><a href="{# {{ path('circuit_show', { 'id': circuit.id }) }}">{{ circuit.id }} #}</a></td>-->
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit }} jours</td>
                <td>
                    
                            <a href="{{ path('circuit_show', { 'id': circuit.id }) }}">En savoir plus >></a>
                      
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
		</div>
		
		</div>
		
		
		
		
	<div class="col-sm-3"> 
		<div class="well"><h2>A propos	</h2><p>{# {{ presentation.apropos }} #}</p></div>
		<div class="well"><h2>Contactez-nous dès maintenant!</h2>
		<p>Par téléphone au : <br />{# {{ presentation.apropos }} #}</p>
		<p>Ou rendez-vous dans notre agence :
		<br />{# {{ presentation.adresse }} #}</p>
		</div>
		<div class="well"><h2>Signaler un problème</h2><p><a href="mailto:">@mail.com</a></p></div>		</div>
	
	</div>

   
    
{% endblock %} {# main #}
